<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./bulma.min.css" />
    <title>h3lpkey</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="tags are-large">
        <span
          class="tag"
          style="cursor: pointer; margin: 0px;"
          v-bind:class="selectType == type ? 'is-info' : ''"
          v-for="type in types"
          @click="selectSchemas(type)"
          >{{type}}</span
        >
      </div>
      <section
        class="section notification"
        v-if="Object.entries(currentSсheme).length === 0"
      >
        <h1 class="title">Выберите тип продукции</h1>
        <div class="field">
          <div class="control">
            <div class="select is-large">
              <select v-model="currentSсheme" v-model="key">
                <option v-for="scheme in schemes" :value="scheme"
                  >{{scheme.name}}</option
                >
              </select>
            </div>
          </div>
        </div>
      </section>
      <section
        class="section notification"
        v-if="Object.entries(currentSсheme).length !== 0"
      >
        <h1 class="title">Расчет {{currentSсheme.nameSecond}}</h1>
        
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label">Длина РУ</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="lenghtWorkSections"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Кол-во РУ</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="amountWorkSections"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Тип ограждения</label>
              <div class="select">
                <select v-model="selectStrut">
                  <option :value="strut" v-for="strut in currentSсheme.struts">
                    {{strut.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="field">
              <label class="label">Тип балки СБ</label>
              <div class="select">
                <select v-model="selectBalk">
                  <option :value="balk" v-for="balk in currentSсheme.balks">
                    {{balk.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <p v-if="weight > 0">Общий вес: {{weight.toFixed(2)}}</p>
        <button class="button is-danger" @click="clearAll()">
          Сброс
        </button>
      </section>
      <section
        class="section"
        v-if="lenghtWorkSections >= 10 && amountWorkSections > 0 && Object.entries(currentSсheme).length > 0"
      >
        <div class="table-container">
          <table class="table is-fullwidth is-striped">
            <thead>
              <tr>
                <th>Тип</th>
                <th>Кол-во шт.</th>
                <th>Вес 1шт\кг</th>
                <th>Общий вес</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in currentProduct" v-if="product.count > 0">
                <td>{{product.fullname}}</td>
                <td>{{product.count}}</td>
                <td>{{product.weight}}</td>
                <td>{{(product.weight * product.count).toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script src="./vue.js"></script>
  <script src="./script.js"></script>
</html>
