<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./bulma.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>h3lpkey</title>
  </head>
  <body>
    <div id="app" class="container">
      <section class="section notification">
        <div class="field is-horizontal">
          <div class="field">
            <h1 class="title">Расчет односторонних дорожных ограждений</h1>
            <h2 class="subtitle">по ГОСТ 2012</h2>
            <label class="label">Длина РУ, рабочий участок 1 и только 1</label>
            <div class="control">
              <input
                class="input"
                type="text"
                v-model="lenghtWorkSections"
                placeholder="Text input"
              />
            </div>
          </div>
        </div>
        <p>Общий вес: {{finalWeight()}}</p>
        <p>Общая цена: {{finalPrice()}}р.</p>
      </section>
      <section class="section">
        <div class="table-container">
          <table class="table is-fullwidth is-striped">
            <thead>
              <tr>
                <th>Тип</th>
                <th>Кол-во шт.</th>
                <th>Цена за шт.</th>
                <th>Общая стоимость</th>
                <th>Вес 1шт\кг</th>
                <th>Общий вес</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products">
                <td>{{product.name}}</td>
                <td>{{counter(product).toFixed(2)}}</td>
                <td>{{product.price.toFixed(2)}}</td>
                <td>{{totalPrice(product).toFixed(2)}}</td>
                <td>{{product.weight.toFixed(3)}}</td>
                <td>{{totalWeight(product).toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script src="./vue.js"></script>
  <script src="./script.js"></script>
</html>
